
{% extends '::frontend.html.twig' %}

{% block id 'portada' %}

{% block title %}Lista de días{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<h1>{{ block ('title')}}</h1>
<strong><p align="center">LISTA DIAS</p></strong>
<div id="dt_example">
    <div id="demo">
            <table class="display" id="example" >
                    <thead>
                        <tr>
                            <th colspan="4">PREVIAMENTE REGISTRADOS</th>                                                 
                        <tr>
                            <th>Nombre</th>                                        
                            <th>Accion</th>
                        </tr>
                        </thead>        
                     <tbody>
                    {% for m in lista %}
                        
                        <tr >
                            <td>{{m.nombre }}</td><td><a href="{{path('admin_dia_modificar', {'coddia': m.id})}}">&nbsp;&nbsp;&nbsp;<img title="Editar día"  src="{{ asset('uploads/iconos/edit.gif') }}"></a></td>                        
                            
                        <tr>
                    <tbody>
                    {% endfor %}
                </table>
        </div>
    </div>
<br><br>
{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}
{% block javascripts %}
    {{ parent() }}
{% endblock%}
{% block stylesheets %}
{{ parent() }}
    
 {% endblock %}

        