{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
        
{#LISTA DE MATERIAS: #}

<p style="text-align: center ; color: #0035C7 "><strong>LISTA DE MATERIAS A MODIFICAR</strong></p>
<div id="dt_example">
    <div id="demo">
    {% if sd== 1 %}
        <form name="diurna" method="post" {{form_enctype(formmaterias) }}>
            {{ form_start(formmaterias) }}
        <table class="display" id="example">
            <thead>
                <tr >
                    <th>{{ 'Nombre'}}</th>
                    <th>{{ 'Horas' }}</th>
                    <th>{{ 'Créditos' }}</th>
                    <th>{{ 'Descripción' }}</th>
                    <th>{{ 'Estado' }}</th>                 
                 </tr>
                </thead>
                            
        {# iterate over each existing tag and render its only field: name #}
        {% for mat in formmaterias.materiaadmin %}
<tbody>
    <tr>            
        <td style="vertical-align:middle; width: 230px">{{ form_widget(mat.nombre) }}</td>                
        <td style="vertical-align:middle; width: 30px">{{ form_widget(mat.numerohoras, { 'attr': {'autocomplete' : 'off' , 'size': 30, 'onchange' : 'check_cantidad(this)'  } }) }} </td>
        <td style="vertical-align:middle; width: 30px">{{ form_widget(mat.numerocreditos, { 'attr': {'autocomplete' : 'off' , 'size': 30, 'onchange' : 'check_cantidad(this)'  } }) }}</td>
        <td style="vertical-align:middle; width: 30px">{{ form_widget(mat.descripcion) }}</td>
        <td ALIGN="CENTER" style="vertical-align:middle; width: 35px">{{ form_widget(mat.estado) }}</td>        
    </tr>
</tbody>                       
    {% endfor%}
     
                        
        </table>
            
    <input type="submit" value="guardar" class="boton" >       
    {{ form_end(formmaterias) }}            
    
    </form>
            {%else%}
        <h1>No hay materias</h1>
    {% endif%}
    </div>
</div>
<br>

{% endblock%}
{% block aside %}
    {{parent()}}
    <a href="{{ path('usuario_logout') }}" title="Cerrar sesión actual"><strong>Cerrar sesión</strong></a>
{% endblock%}

          
{% block javascripts %}
    {{ parent() }}
<script> 
               function check_cantidad(element)
 {
 var cant = element.value;
 var cant_es_flotante = isFloat(cant);
 // alert('Valor introducido: '+cant+' \n\n ID: '+element.id+' | Es flotante? '+cant_es_flotante);
 // descomentar si quieres revisar los valores del id, value y si es flotante
 
 if (isNaN(cant))
 {
 alert('Valor introducido:       '+cant+' \n\n Introduce solo valores numéricos');
 document.getElementById(element.id).value = "";
 }
 else if (cant < 1 )
 {
 alert('Valor introducido:       '+cant+' \n\n Introduce numéros enteros mayores que 0');
 document.getElementById(element.id).value = "";
 }
 else if (cant_es_flotante == true)	
 {
 alert('Valor introducido:       '+cant+' \n\n El valor es decimal.  Será¡ convertido a entero.');
 cant = parseInt(cant);
 document.getElementById(element.id).value = cant;
 }
 }
 function isFloat(myNum) 
 {
 // es true si es 1, osea si es flotante
 var myMod = myNum % 1;
 
 if (myMod == 0) 
 { return false; } 
 else { return true; }
 }

                   </script>  
{% endblock%}


{% block stylesheets %}
{{ parent() }}
         {% include 'academicoBundle:Default:tablecss.html.twig'%}

<style>
   
  input[type="number"] {
   width:50px;
}
</style>



   {% endblock %}
     

    
