{% extends '::frontend.html.twig' %}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}

<h3><p align="center">Cursos </p><h3>
{#LISTA DE CURSOS#}
{% if sd== 1 %}
<div id="dt_example">
    <div id="demo">
        <table class="display" id="example">
            <thead>
                <tr >
                    <th>{{'Nombre' }}</th>                  
                    <th>Accion</th>
                </tr>
            </thead>
    
            <tbody>{% for cur in listacursos %}
                <tr>
                        <td ALIGN="CENTER" style="vertical-align:middle">{{cur.nombre}}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle"><a href="{{path('curso_modificar_id',{'cid':cur.id})}}"><img border="0" src="{{ asset('uploads/documents/modificar.gif') }}" width="40" height="40"></a></td>
                <tr>{% endfor%}
            </tbody>

    
        </table>
            
    </div>
</div>
<br>
{% endif %}


{% endblock%}
{% block aside %}
    
    {{parent()}}
     
        <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% endblock%}
                    
{% block stylesheets %}
{{ parent() }}

{% include 'academicoBundle:Default:tablecss.html.twig'%}

   {% endblock %}
     