{% extends '::frontend.html.twig' %}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7 "><strong>LISTA DE TODAS LAS HORAS</strong></p>
{#LISTA DE HORAS#}
{% if sd== 1 %}
<div id="dt_example">
    <div id="demo">
        <table class="display" id="example" style="width: 400px">
            <thead>
                <tr >
                    <th>{{'Hora de inicio -- Hora de finalización' }}</th>             
                    <th>{{'Descripción' }}</th>                  
                    
                    <th>Acción</th>
                </tr>
            </thead>
    
            <tbody>{% for hor in listahoras %}
                <tr>
                        <td ALIGN="CENTER" style="vertical-align:middle; width: 200px">{{hor}}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle; width: 80px">{{hor.descripcion}}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle; width: 30px"><a href="{{path('hora_modificar_id',{'hid':hor.id})}}"><img title="Editar hora"   src="{{ asset('uploads/iconos/edit.gif') }}" ></a></td>
                <tr>{% endfor%}
            </tbody>

    
        </table>
            
    </div>
</div>
<br>
{% endif %}


{% endblock%}
{% block aside %}
    
    {{parent()}}
     
        <a href="{{ path('usuario_logout') }}" title="Cerrar sesión actual"><strong>Cerrar sesión</strong></a>
{% endblock%}
                    
{% block stylesheets %}
    {{ parent() }}
    {% include 'academicoBundle:Default:tablecss.html.twig'%}
{% endblock %}
     