{% extends '::frontend.html.twig' %}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<h3><p align="center">Horas </p><h3>
{#LISTA DE HORAS#}
{% if sd== 1 %}
<div id="dt_example">
    <div id="demo">
        <table class="display" id="example">
            <thead>
                <tr >
                    <th>{{'Nombre' }}</th>    
                    <th>{{'Descripcion' }}</th>                  
                    
                    <th>Accion</th>
                </tr>
            </thead>
    
            <tbody>{% for are in listaareas %}
                <tr>
                        <td ALIGN="CENTER" style="vertical-align:middle">{{are.nombre}}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle">{{are.descripcion}}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle"><a href="{{path('area_modificar_id',{'aid':are.id})}}"><img title="Editar datos"   src="{{ asset('uploads/iconos/edit.gif') }}" ></a></td>
                <tr>{% endfor%}
            </tbody>

    
        </table>
            
    </div>
</div>
<br>
{% endif %}


{% endblock%}
{% block aside %}
    
    {{parent()}}
     
        <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% endblock%}
                    
{% block stylesheets %}
{{ parent() }}

{% include 'academicoBundle:Default:tablecss.html.twig'%}

   {% endblock %}
     