{% extends '::frontend.html.twig' %}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7 "><strong>LISTA DE MATERIAS</strong></p>
{#LISTA DE MATERIAS#}
{% if sd== 1 %}
<div id="dt_example">
    <div id="demo">
        <table class="display" id="example">
            <thead>
                <tr >
                    <th>{{'Nombre' }}</th>
                    <th>{{'Número Horas'}}</th> 
                    <th>{{'Número Creditos'}}</th> 
                    <th>{{'Descripción'}}</th> 
                    <th>{{'Estado'}}</th>                                         
                    <th>Acción</th>
                </tr>
            </thead>
    
            <tbody>{% for mat in listamaterias %}
                <tr>
                        <td ALIGN="LEFT" style="vertical-align:middle">{{mat.nombre | title}}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle">{{mat.numerohoras}}</td>                        
                        <td ALIGN="CENTER" style="vertical-align:middle">{{mat.numerocreditos}}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle">{{mat.descripcion | title}}</td>                        
                        <td ALIGN="CENTER" style="vertical-align:middle">{% if (mat.estado) ==1 %}
            <strong>Activo</strong>
        {% endif %}
        {% if (mat.estado) ==0 %}
            <strong>No activo</strong>
        {% endif %}</td>
                        <td ALIGN="CENTER" style="vertical-align:middle"><a href="{{path('materia_modificar_id',{'mid':mat.id})}}"><img title="Editar materia"   src="{{ asset('uploads/iconos/edit.gif') }}" ></a></td>
                <tr>{% endfor%}
            </tbody>

    
        </table>
            
    </div>
</div>
<br>
{% endif %}


{% endblock%}
{% block aside %}
    
    {{parent()}}
     
        <a href="{{ path('usuario_logout') }}" title="Cerrar sesión actual"><strong>Cerrar sesión</strong></a>
{% endblock%}
                    
{% block stylesheets %}
{{ parent() }}

{% include 'academicoBundle:Default:tablecss.html.twig'%}

   {% endblock %}
     