<span class="preload1"></span>
<span class="preload2"></span>
{% set rol='admin'%}
<ul id="nave">
    <li class="top"><a href="{{path('admin_portada')}}" class="top_link">INCIO</a></li>
    <li class="top"><a id="products" class="top_link">PERIODO</a>        
        <ul class="sub">
            <li>
                <a  href="{{path('periodo_registro')}}" class="fly">Nuevo</a>                              
            </li>                
            <li><a href="{{path('periodo_modificar')}}" class="fly">Modificar actual</a></li>
            <li><a  class="fly"><strong>Notas parciales</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('admin_mes_registro')}}" class="fly">Nueva</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_mes_listar_todos')}}" class="fly">Ver todas</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_mes_modificar_todos')}}" class="fly">Modificar todas</a>                    
                    </li>
                    <li>
                        <a  href="{{path('mes_evaluacion',{'pid': 2})}}" class="fly"><strong>Cambiar fechas</strong></a>                    
                    </li>
                </ul>
            </li>
            <li><a  class="fly"><strong>Días</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('admin_dia_registro')}}" class="fly">Nuevo</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_dia_listar_todos')}}" class="fly">Ver todos</a>                        
                    </li>
                </ul>
            </li>
            <li><a  class="fly"><strong>Horas</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('hora_ingresar')}}" class="fly">Nueva</a>                        
                    </li>
                    <li>
                        <a  href="{{path('hora_modificar')}}" class="fly">Ver todas</a>                        
                    </li>
                </ul>
            </li>
            <li><a  class="fly"><strong>Subperiodos</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('admin_subperiodo_registro')}}" class="fly">Nuevo</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_subperiodo_listar_todos')}}" class="fly">Ver todos</a>                        
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="top"><a id="products" class="top_link">MATERIAS</a>        
        <ul class="sub">
            <li>
                <a  href="{{path('materia_ingresar')}}" class="fly">Nueva</a>                
            </li>                
            <li><a  href="{{path('materia_modificar')}}" class="fly">Ver todas</a>

            </li>
            <li><a  href="{{path('materia_modificar_todos')}}" class="fly">Modificar todas</a>
                
            </li>
            {#<li><strong><a  class="fly">Areas</a></strong>
                <ul>
                    <li>
                        <a  href="{{path('area_ingresar')}}" class="fly">Nueva</a>                        
                    </li>
                    <li>
                        <a  href="{{path('area_modificar')}}" class="fly">Ver todas</a>                        
                    </li>
                </ul>
            </li>#}
            <li><a  class="fly"><strong>Materias grado</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('admin_materiagrado_registro')}}" class="fly">Nueva</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_materiagrado_listar_todos')}}" class="fly">Ver todas</a>                        
                    </li>
                </ul>
            </li>
            <li><a  class="fly"><strong>Materias Periodo</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('admin_materiaperiodo_registro')}}" class="fly">Nueva</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_materiaperiodo_listar_todos')}}" class="fly">Ver todas</a>                        
                    </li>
                </ul>
            </li>
        </ul>
    </li>


    <li class="top"><a id="products" class="top_link">CURSOS</a>        
        <ul class="sub">
            <li><a  class="fly"><strong>Paralelo</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('admin_paralelo_registro')}}" class="fly">Nuevo</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_paralelo_listar_todos')}}" class="fly">Ver todos</a>                        
                    </li>

                </ul>
            </li>            

            <li><a  class="fly"><strong>Curso</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('admin_nivel_registro')}}" class="fly">Nuevo</a>                        
                    </li>
                    <li>
                        <a  href="{{path('admin_nivel_listar_todos')}}" class="fly">Ver todos</a>                        
                    </li>

                </ul>
            </li>            

            <li><a  class="fly"><strong>Nivel</strong></a>
                <ul>
                    <li>
                        <a  href="{{path('curso_ingresar')}}" class="fly">Nuevo</a>                        
                    </li>
                    <li>
                        <a  href="{{path('curso_modificar')}}" class="fly">Ver todos</a>                        
                    </li>

                </ul>
            </li>            

        </ul>
    </li>

    <li class="top"><a id="products" class="top_link">REQUISITOS</a>        
        <ul class="sub">
            <li>
                <a  href="{{path('admin_requisito_registro')}}" class="fly">Nuevo</a>                
            </li>                
            <li><a  href="{{path('admin_requisito_listar_todos')}}" class="fly">Ver todos</a>                
            </li>            
            <li>
                <a  href="{{path('admin_requisito_modificar_estados')}}" class="fly">Modificar todos</a>                        
            </li>
        </ul>
    </li>
    <li class="top"><a id="products" class="top_link">USUARIOS</a>        
        <ul class="sub">
            <li>
                <a  href="{{path('usuario_registro')}}" class="fly">Nuevo</a>                
            </li>                
            <li><a href="{{path('usuario_modificar')}}"  class="fly">Ver todos</a>                
            </li>            
            
        </ul>
    </li>
</ul>







