{% extends '::frontend.html.twig' %}


{% block id 'curso' %}

{% block title %}Modificar nivel{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<h1>{{ block ('title')}}</h1>

<form action="{{ path('curso_modificar_id',{'cid':id} )}}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                  {{form_row(formulario.nombre, { 'attr': {'autocomplete' : 'off' } }) }}                                                   
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}