{% extends '::frontend.html.twig' %}


{% block id 'materia' %}

{% block title %}Modificar materia{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<h1>{{ block ('title')}}</h1>

<form action="{{ path('materia_modificar_id',{'mid':id} )}}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                  {{form_row(formulario.nombre, { 'attr': {'autocomplete' : 'off' } }) }}                  
                  {{form_label(formulario.numerocreditos,'Créditos:')}}{{form_errors(formulario.numerocreditos)}}{{form_widget(formulario.numerocreditos, { 'attr': {'autocomplete' : 'off' , 'size': 30} }) }}<br>
                  {{form_label(formulario.numerohoras,'Horas:')}}{{form_errors(formulario.numerohoras)}}{{form_widget(formulario.numerohoras, { 'attr': {'autocomplete' : 'off' , 'size': 30} }) }}
                  {{form_row(formulario.descripcion, { 'attr': {'autocomplete' : 'off' } }) }}                                  
                  {{form_row(formulario.estado, { 'attr': {'autocomplete' : 'off' } }) }}
          </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}