{% extends '::frontend.html.twig' %}


{% block id 'hora' %}

{% block title %}Modificar hora{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7 "><strong>MODIFICAR UNA HORA</strong></p>

<form action="{{ path('hora_modificar_id',{'hid':id} )}}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                  {{form_row(formulario.hora_inicio, { 'attr': {'autocomplete' : 'off' } }) }}  
                  {{form_row(formulario.hora_fin, { 'attr': {'autocomplete' : 'off' } }) }}  
                  {{form_row(formulario.descripcion, { 'attr': {'autocomplete' : 'off' } }) }}  
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
    <a href="{{ path('usuario_logout') }}" title="Cerrar sesión actual"><strong>Cerrar sesión</strong></a>
{% endblock%}