{% extends '::frontend.html.twig' %}


{% block id 'hora' %}

{% block title %}Modificar hora{% endblock%}

{% block article %}
<h1>PERIODO ACADÉMICO ACTUAL </h1><br><br>
<h1>{{ block ('title')}}</h1>

<form action="{{ path('hora_modificar_id',{'hid':id} )}}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                  {{form_row(formulario.hora_inicio, { 'attr': {'autocomplete' : 'off' } }) }}  
                  {{form_row(formulario.hora_fin, { 'attr': {'autocomplete' : 'off' } }) }}  
                  {{form_row(formulario.descripcion, { 'attr': {'autocomplete' : 'off' } }) }}  
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}