
{% extends '::frontend.html.twig' %}

{% block id 'portada' %}

{% block title %}Registro de un nuevo paralelo{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7 "><strong>REGISTRO DE UN NUEVO PARALELO</strong></p>
<br>
<form action="{{ path('admin_paralelo_registro') }}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                
                  {{form_label(formulario.nombre,'Nombre:')}}{{form_errors(formulario.nombre)}}{{form_widget(formulario.nombre, { 'attr': {'autocomplete' : 'off' } }) }}<br>                  
                  
                  
                  
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>
<hr>
<strong><p align="center">LISTA PARALELOS</p></strong>
<div id="dt_example">
    <div id="demo">
        <table class="display" id="example" style="width: 200px" >
                    <thead>
                        <tr>
                            <th colspan="4">PREVIAMENTE REGISTRADOS</th>                                                 
                        <tr>
                            <th>Nombre</th>                                        
                            <th>Accion</th>
                        </tr>
                        </thead>        
                     <tbody>
                    {% for m in lista %}
                        
                        <tr >
                            <td style="text-align: center; width: 160px; vertical-align: middle" >{{m.nombre }}</td><td style="text-align: center; width: 30px; vertical-align: middle"><a href="{{path('admin_paralelo_modificar', {'codpar': m.id})}}">&nbsp;&nbsp;&nbsp;<img title="Editar paralelo"  src="{{ asset('uploads/iconos/edit.gif') }}"></a></td>                        
                            
                        <tr>
                    <tbody>
                    {% endfor %}
                </table>
        </div>
    </div>
<br><br>
{% endblock%}

{% block aside %}
    {{ parent()}}
    <a href="{{ path('usuario_logout') }}" title="Cerrar sesión actual"><strong>Cerrar sesión</strong></a>
{% endblock%}
{% block javascripts %}
    {{ parent() }}
{% endblock%}
{% block stylesheets %}
{{ parent() }}
        {% include 'academicoBundle:Default:tablecss.html.twig'%}
 {% endblock %}

        