
{% extends '::frontend.html.twig'%}

{% block title %} Perfil de docente {% endblock%}
{% block id 'portada' %}

{% block article%}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>

<p style="text-align: center ; color: #0035C7 "><strong>BIENVENID@ AL PERFIL DE ADMINISTRADOR</strong></p><br>

<p style="text-align: center; color: #0035C7">
    <strong>Para acceder a la configuracion general dar click </strong><a href="{{ path('admin_configuracion_general')}}">AQUI</a><br><br>
    <strong>Para acceder a la configuracion actual dar click </strong><a href="{{ path('admin_configuracion_actual')}}">AQUI</a>
</p>

{% endblock%}
{% block aside%}

{{parent()}}
    
<a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% endblock%}


{% block stylesheets %}
{{ parent() }}

{% include 'academicoBundle:Default:tablecss.html.twig'%}
    <style>
            .columna-izquierda{
                text-align:left;
                margin-right:5px;
                padding-left: 80px;
                float:left;
                width:245px;
            }
            .columna-derecha{
                float:right;
                width:245px;
                padding-right: 80px;
            }   
            .contenido{height:auto;overflow:auto}
            
            p.big {
            line-height: 200%;
            }
        </style>
   {% endblock %}
