{% extends '::frontend.html.twig' %}


{% block id 'hora' %}

{% block title %}Registro de nueva hora{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>

<h1>{{ block ('title')}}</h1>

<form action="{{ path('hora_ingresar') }}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                 {{form_row(formulario.hora_inicio, { 'attr': {'autocomplete' : 'off' } }) }}  
                 {{form_row(formulario.hora_fin, { 'attr': {'autocomplete' : 'off' } }) }}  
                 {{form_row(formulario.descripcion, { 'attr': {'autocomplete' : 'off' } }) }}                      
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
    <a href="{{ path('usuario_logout') }}" title="Cerrar sesión actual"><strong>Cerrar sesión</strong></a>
{% endblock%}