
{% extends '::frontend.html.twig' %}


{% block id 'portada' %}

{% block title %}Registro de un nuevo periodo{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<p style="text-align: left ; color: #008000 "><strong>NOTAS PARA ESTE PERIODO</strong></p>
<label style="font-size: smaller; font-size: small">Antes de agregar un nuevo periodo tenga en cuenta el número de notas a ser evaluadas:</label><a style="font-size: small" href="{{path('admin_mes_registro')}}" title="Agregar nueva nota"> Añadir</a>&nbsp;&nbsp;<a title="Ver lista de notas" style="font-size: small" href="{{path('admin_mes_listar_todos')}}">Ver todos</a><br>
<table style="width: 600px">
        <thead>
        <th style="font-size: small; width: 30px"># NOTAS</th>
        {% for n in lista %}
            <th style="font-size: small; width: 30px; text-align: center">{{n.nombre}}</th>
        {% endfor%}
        </thead>
        <tbody>
            <tr>
                <td style="font-size: small; width: 30px">ESTADO</td>
                {% for n in lista %}
                    {% set esta= n.estado %}
                    {% if esta == 0 %}
                        {% set estado= 'Activo'%}
                    {% endif%}
                    {% if esta == 1 %}
                        {% set estado= 'Activo'%}
                    {% endif%}
                    <td style="font-size: small; width: 30px; text-align: center">{{estado}}</td>
                {% endfor%}
            </tr>
        </tbody>
</table>
<br><br>
<p style="text-align: center ; color: #0035C7 "><strong>REGISTRO DE UN NUEVO PERIODO ACADÉMICO</strong></p>

<form action="{{ path('periodo_registro') }}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                
                  <p>Periodo académico</p>
                  {{form_label(formulario.estado,'Estado:')}}{{form_errors(formulario.estado)}}{{form_widget(formulario.estado) }}<br>
                  {{form_label(formulario.nombre,'Nombre:')}}{{form_errors(formulario.nombre)}}{{form_widget(formulario.nombre, { 'attr': {'autocomplete' : 'off', 'size': 60 } }) }}<br>
                  {{form_label(formulario.finicioperiodo,'Incia:')}}{{form_widget(formulario.finicioperiodo, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.ffinperiodo,'Finaliza:')}}{{form_errors(formulario.ffinperiodo)}}{{form_widget(formulario.ffinperiodo, { 'attr': {'autocomplete' : 'off' } }) }}<br>                  
                  <hr>
                  
              <p>Periodo de matrículas</p>                  
                  {{form_label(formulario.finiciomatricula,'Inicia:')}}{{form_errors(formulario.finiciomatricula)}}{{form_widget(formulario.finiciomatricula, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.ffinmatricula,'Finaliza:')}}{{form_errors(formulario.ffinmatricula)}}{{form_widget(formulario.ffinmatricula, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  <hr>
                  
              <p>Periodo de inscripciones</p> 
                  {{form_label(formulario.finicioinscripcion,'Inicia:')}}{{form_errors(formulario.finicioinscripcion)}}{{form_widget(formulario.finicioinscripcion, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.ffininscripcion,'Finaliza:')}}{{form_errors(formulario.ffininscripcion)}}{{form_widget(formulario.ffininscripcion, { 'attr': {'autocomplete' : 'off' } }) }}<br>

                  
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}
{% block stylesheets %}
    {{ parent() }}

    {% include 'academicoBundle:Default:tablecss.html.twig'%}
{% endblock%}