
{% extends '::frontend.html.twig' %}


{% block id 'periodo' %}

{% block title %}Registro de un nuevo periodo{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<h1>{{ block ('title')}}</h1>
<br><br>
<form action="{{ path('periodo_registro') }}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                
                  {{form_label(formulario.nombre,'Nombre:')}}{{form_errors(formulario.nombre)}}{{form_widget(formulario.nombre, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {#{{form_label(formulario.finicioperiodo,'Incio periodo:')}}{{form_widget(formulario.finicioperiodo, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.ffinperiodo,'Fin periodo:')}}{{form_errors(formulario.ffinperiodo)}}{{form_widget(formulario.ffinperiodo, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.finiciomatricula,'Inicio matrícula:')}}{{form_errors(formulario.finiciomatricula)}}{{form_widget(formulario.finiciomatricula, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.ffinmatricula,'Fin matrícula:')}}{{form_errors(formulario.ffinmatricula)}}{{form_widget(formulario.ffinmatricula, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.finicioinscripcion,'Inicio inscripción:')}}{{form_errors(formulario.finicioinscripcion)}}{{form_widget(formulario.finicioinscripcion, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  {{form_label(formulario.ffininscripcion,'Fin inscripción:')}}{{form_errors(formulario.ffininscripcion)}}{{form_widget(formulario.ffininscripcion, { 'attr': {'autocomplete' : 'off' } }) }}<br>
                  #}
                  
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}