{% extends '::frontend.html.twig' %}


{% block id 'curso' %}

{% block title %}Registro de un nuevo curso{% endblock%}

{% block article %}
<h1>PERIODO ACADÉMICO ACTUAL </h1><br><br>
<h1>{{ block ('title')}}</h1>

<form action="{{ path('curso_ingresar') }}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                  {{form_row(formulario.nombre, { 'attr': {'autocomplete' : 'off' } }) }}
                                              
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}