{% extends '::frontend.html.twig' %}


{% block id 'estudiante' %}

{% block title %}Registro de un nuevo docente{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<h1>{{ block ('title')}}</h1>

<form action="{{ path('docente_registro') }}" method="post" {{
        form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
          <fieldset>
                  {{form_label(formulario.cedula,'Número de cédula:')}}{{form_errors(formulario.cedula)}}{{form_widget(formulario.cedula, { 'attr': {'autocomplete' : 'off' } }) }}
                  {{form_row(formulario.nombre, { 'attr': {'autocomplete' : 'off' } }) }}
                  {{form_row(formulario.apellido, { 'attr': {'autocomplete' : 'off' } }) }}
                  {{form_label(formulario.direccion,'Dirección')}}{{form_widget(formulario.direccion, { 'attr': {'autocomplete' : 'off' } }) }}                                    
                  {{form_row(formulario.telefonofijo)}}{{form_widget(formulario.telefonofijo,{ 'attr': {'autocomplete' : 'off' } }) }}
                  {{form_row(formulario.celular, { 'attr': {'autocomplete' : 'off' } }) }}{{form_errors(formulario.email)}}                  
                  {{form_label(formulario.email,'Correo:')}}{{form_errors(formulario.email)}}{{form_widget(formulario.email, { 'attr': {'autocomplete' : 'off' } }) }}                  
                  {{form_row(formulario.trabajoanterior, { 'attr': {'autocomplete' : 'off' } }) }}                  
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
</form>


{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}