
{% extends '::frontend.html.twig' %}

{% block id 'portada' %}

{% block title %}Lista de requisitos{% endblock%}

{% block article %}
<section id="menu_admin">
    {% include 'administrativoBundle:Default:menu_admin.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7 "><strong>LISTA DE REQUISITOS</strong></p>
<div id="dt_example">
    <div id="demo">
            <table class="display" id="example" >
                    <thead>
                        <tr>
                            <th colspan="3">PREVIAMENTE REGISTRADOS</th>                                                 
                        <tr>
                            <th>Nombre</th>            
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                        </thead>        
                     <tbody>
                    {% for m in lista %}
                        {% set estado=m.estado%}
                        {% if estado==1%}
                            {% set esta='Activo'%}                                                    
                        {% endif%}
                        {% if estado==0%}
                            {% set esta='Inactivo'%}                                                    
                        {% endif%}
                        <tr >
                            <td>{{m.descripcion }}</td> <td style="width: 40px; vertical-align: middle; text-align: center">{{ esta }}</td> <td style="width: 30px; vertical-align: middle; text-align: center"><a href="{{path('admin_requisito_modificar', {'codreq': m.id})}}"><img title="Editar requisito"  src="{{ asset('uploads/iconos/edit.gif') }}"></a></td>                        
                            
                        <tr>
                    <tbody>
                    {% endfor %}
                </table>
        </div>
    </div>
<br><br>
{% endblock%}

{% block aside %}
    {{ parent()}}
    <a href="{{ path('usuario_logout') }}" title="Cerrar sesión actual"><strong>Cerrar sesión</strong></a>
{% endblock%}
{% block javascripts %}
    {{ parent() }}
{% endblock%}
{% block stylesheets %}
    {{ parent() }}
    {% include 'academicoBundle:Default:tablecss.html.twig'%}
{% endblock%}    
        