<pdf Title="Notas de supletorios: {{nivel | title}}" Author="{{docente}}">
    <dynamic-page>
        <placeholders>
            {#EMCABEZADO#}
            <header>
                <div height="230px" width="100%">
                    <div font-style="bold" margin=" 60px 50px 50px 10px" color="black"  font-size="14px" height="30px" text-align="center">
                        <table >
                            <tr border.color="white">
                                <td border.color="white"><br/>ESCUELA DE CONDUCCIÓN PROFESIONAL<br/> CONDUESPOCH E.P<br/>CHIMBORAZO - RIOBAMBA<br/><p font-size="15">ACTA DE CALIFICACIONES</p></td><td border.color="white" width="65" height="45" ><img src="uploads/iconos/logo.jpg"  width="75" height="65"  /></td>
                            </tr>
                            <tr border.color="white">
                                <td font-size="16" colspan="2" border.color="white"></td>
                            </tr>
                        </table>   
                        <table >
                            <tr><td text-align="left" width="160px"> ASIGNATURA:</td><td text-align="left" >{{materia | title}}</td></tr>
                            <tr><td text-align="left" > DOCENTE:</td><td text-align="left" >{{docente | title}}</td></tr>
                            <tr><td text-align="left" > CURSO:</td><td text-align="left" >FORMACIÓN Y CAPACITACIÓN PROFESIONAL</td></tr>
                            <tr><td text-align="left" > PARALELO:</td><td text-align="left" >{{nivel.paralelo | upper}}</td></tr>
                            <tr><td text-align="left" > SECCIÓN:</td><td text-align="left" >DIURNA</td></tr>
                            <tr><td text-align="left" > PERIODO:</td><td text-align="left" >{{periodo | upper}}</td></tr>
                            <tr><td text-align="left" > CALIFICACIONES DE:</td>{{finicio}}{{' '}}{{ffin}}<td text-align="left" >{{meseva.nota | upper}}</td></tr>
                            
                        </table>                        
                    </div>                    
                </div>
            </header>
            {# PIE DE PÁGINA#}
            <footer>
                <div height="20px" width="80%"  text-align="center" font-size="10px" font-style="italic">
                    Dirección: Panamericana Sur km 1 1/2, Riobamba - Ecuador <br/>
                    (c)Sistema conduespoch
                    <div margin="6px 10px"  text-align="right" font-size="10px" font-style="bold">
                        <page-info format="%s / %s" />
                    </div>    
                </div>
            </footer>
        </placeholders>
        {# CONTENIDO DE REPORTE#}
        <br/><br/>
        {% if cod == 1%}
        <table margin=" 40px 10px 40px 10px"  >
            <tr text-align="center" font-style="bold">
                <td height="13px" >Nº</td>
                <td>NOMINA</td>
                <td>Trabajo en equipo</td>
                <td>Estudio de casos</td>                
                <td>Prueba práctica</td>                
                <td>Prueba teórica</td> 
                <td>SUMA</td> 
                <td>PROMEDIO</td> 
            </tr>
            
            {% for eva in lista %}            
            <tr >
                <td width="30px" text-align="center">{{loop.index}}</td>
                <td>{{eva.materiaasignada.matricula.estudiante.apellido | upper}}{{' '}}{{eva.materiaasignada.matricula.estudiante.nombre | upper}}</td>
                <td width="60" text-align="center"  >{{eva.notatb}}</td>
                <td width="40" text-align="center">{{eva.notaec}}</td>
                <td width="40" text-align="center">{{eva.notapp}}</td>
                <td width="40" text-align="center">{{eva.notapt}}</td>
                <td width="40" text-align="center">{{eva.notatb + eva.notaec + eva.notapp + eva.notapt}}</td>
                <td width="50" text-align="center">{{((eva.notatb + eva.notaec + eva.notapp + eva.notapt)/ 4) | round(2,'floor')}}</td>
            </tr>
            
            {% endfor%}
        </table>
        {# SECCION DE FIRMAS#}        
        <br/><br/><br/>
        <div height="20px" width="100%"  text-align="center" font-size="10px" font-style="bold">                    
            <table>
                <tr><td border.color="white">____________________________</td><td border.color="white">____________________________</td></tr>
                <tr><td border.color="white">(f) DIRECTOR(A) PEGAGÓGICO</td><td border.color="white">(f) DOCENTE</td></tr>
            </table>
        </div>
        {% endif%}
    </dynamic-page>
</pdf>
