{% extends '::frontend.html.twig' %}

{% block id 'estudiante' %}

{% block title %}Buscar estudiante{% endblock%}

{% block article %}

<p style="color: #0035C7; text-align: center"><strong>MATRÍCULAS: &nbsp;BUSCAR ESTUDIANTE</strong></p>

<p>Por favor digite la cédula del estudiante 'sin guión'</p>

<form action="{{ path('estudiante_buscar')}}" method="post" {{
        form_enctype(formulario) }}>
          {{form_row(formulario.cedula)}}
    {{form_rest(formulario)}}    
    <input class="boton" type="submit" value="Buscar" />
</form>

<p><strong>La consulta permitirá lo siguiente:</strong></p>
<ul>
    <li style="color: #08C">Mostrar formulario de registro de matrículas de estudiantes</li>
    <li style="color: #08C">Ver si un estudiante ya fue previamente matriculado o no</li>
    <li style="color: #08C">Muestra lista de requisitos en caso de aún no cumplirlos</li>
</ul>


{% endblock%}

{% block aside %}    
{%set secretaria='secretaria'%}
    <p align="center"><a title="Menú principal" class="boton" href="{{path('portada',{'role':secretaria})}}">PORTADA</a></p>
    {{ parent()}}
    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
