{% extends '::frontend.html.twig' %}

{% block id 'estudiante' %}


{% block title %}Matricula de estudiantes{% endblock%}

    
    
{% block article %}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_secretaria.html.twig'%}
</section>

<p style="color: #0035C7; text-align: center"><strong>MATRÍCULA DEL ESTUDIANTE</strong></p>
<table class="display" id="itsthetable" style="width: 330px" align="left">
    <thead>
        <th colspan="2">DATOS DEL ESTUDIANTE</th>   
    </thead>
    <tbody>
        <tr>
          <td style="width: 250px"><strong>Cédula:&nbsp;&nbsp;</strong>{{estudiante.cedula}}</td>
          <td  ROWSPAN=3 ALIGN="CENTER" style="vertical-align:middle; width: 80px; height: 80px"><img src="{{ asset('uploads/documents/'~ estudiante.path) }}" width="80" height="80" border="0" alt="{{estudiante.nombre}}{{estudiante.apellido}}"></td>
        </tr>
        <tr>
            <td  class="odd"><strong>Nombre:&nbsp;&nbsp;</strong>{{estudiante.nombre}}</td>
        </tr>
        <tr>
          <td ><strong>Apellido:&nbsp;&nbsp;</strong>{{estudiante.apellido}}</td>
        </tr>
    </tbody>
</table>
<br><br><br><br><br><br><br><br>

      <p style="color: #0035C7; text-align: left"><strong>DATOS DE LA MATRÍCULA</strong></p>
<form action="{{ path('estudiante_matricula', {'cedula': estudiante.cedula})}}" method="post" {{
        form_enctype(formulario) }}>
          {{ form_errors(formulario) }}
          <fieldset>
                  {{form_row(formulario.periodo)}}{{form_errors(formulario.periodo)}}
                  {{form_row(formulario.nivel)}}{{form_errors(formulario.nivel)}}
                  {{form_label(formulario.seccion,'Seccion de estudio:')}}{{form_errors(formulario.seccion)}}{{form_widget(formulario.seccion)}}                                      
                  {{form_row(formulario.observaciones)}}
                  {#{{form_row(formulario.estudiante)}}               #}
              </fieldset>   
         {{form_rest(formulario)}}                   
          <input class="boton" type="submit" value="Guardar" />
          </form>
       {#<h1>PERIODO ACADÉMICO ACTUAL {{est.seccion}}</h1>#}
        
     

{% endblock%}



{% block aside %}
<a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
{% block stylesheets %}
      {{ parent()}}                 
        {% include 'academicoBundle:Default:tablecss.html.twig'%}
{% endblock %}          