{% extends '::frontend.html.twig'%}

{% block title %} ASISTENCIA {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_inspector.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7 "><strong>INGRESO DE ASISTENCIAS</strong></p>
<p><strong>Detalles:</strong></p>
<ul>
    <li style="color: #0066ff">Para proceder al ingreso de asistencias por favor seleccione una materia</li>
</ul>

{% endblock%}
{% block aside %}        
    <p style="text-align: center">Curso actual:</p>
    <p style="text-align: left; color: #090"><strong>{{curso | upper}}</strong></p>
    <strong><p align="center">Materias:</p></strong>
    <div id="relacionadas">
        <ul>
    {% for mat in listamaterias %}
                 <li ><a title="{{mat.materiaperiodo.materia.nombre | upper }}" href="{{path('estudiante_lista_matriculados_x_materia_x_secciones',{'materias': mat.materiaperiodo.materia.id, 'nivel': mat.nivel.id})}}" class="boton">{{mat.materiaperiodo.materia.nombre | title | truncate(10,true)}}</a></li>
    {% endfor%}

            </ul>
        </div>
    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
