{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_secretaria.html.twig'%}
</section>
<p style="color: #0035C7; text-align: center"><strong>ESTUDIANTES INSCRITOS</strong></p>
 {#{{ pagination.getTotalItemCount }}#}
<div id="dt_example">
    <div id="demo">
        <div class="count">
            {#{{ pagination.getTotalItemCount }}#}
            </div>
            <table class="display" id="example">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Cedula', 'e.cedula') }}</th>
                        <th{% if pagination.isSorted('e.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'e.nombre') }}</th>                            
                        <th{% if pagination.isSorted('e.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Correo', 'e.email') }}</th>
                        <th {% if pagination.isSorted('i.estado') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Estado', 'i.estado') }}</th>
                        <th>Acciones</th>
                        </tr>
                    </thead>
                   {% for est in pagination %}
                    <tbody>
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                    {% set estado=est.estado%}
                        {% if estado==1%}
                            {% set esta='Activo'%}                                                    
                        {% endif%}
                        {% if estado==0%}
                            {% set esta='Inactivo'%}                                                    
                        {% endif%}
                                <td>{{est.estudiante.cedula}}</td><td>{{est.estudiante.nombre | title}}&nbsp;{{est.estudiante.apellido | title}}</td><td>{{est.estudiante.email | lower}}</td><td>{{esta}}</td><td>&nbsp;&nbsp;<a href="{{path('estudiante_modificar_datos',{'cedula': est.estudiante.cedula})}}"><img title="Editar datos"  src="{{ asset('uploads/iconos/edit.gif') }}"></a>&nbsp;&nbsp<samp>     <a href="{{path('estudiante_requisito',{'cedula':est.estudiante.cedula})}}"><img   title="Ver requisitos" src="{{ asset('uploads/iconos/list.gif') }}"></a></samp>&nbsp;&nbsp;&nbsp;<span><a href="{{path('estudiante_matricula',{'cedula':est.estudiante.cedula})}}"><img   title="Matricular" src="{{ asset('uploads/iconos/mat.gif') }}"></a></span></td>
                            <tr>
                        </tbody>

    {% endfor%}
                    </table>

                    <div class="paginacion">
                        {{ knp_pagination_render(pagination) }}
                     </div>
               </div>

<br><br>
{% endblock%}
{% block aside %}
    {{parent()}}
    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
