{% extends '::frontend.html.twig' %}
{% block id 'amaterias' %}

{% block title %}Materias docente{% endblock%}

{% block article %}

<p style="text-align: center ; color: #0035C7 "><strong>LISTA DE MATERIAS ASIGNADAS  A LOS DOCENTES EN ESTE PERIODO</strong></p>
    <div id="dt_example">
        <div id="demo">
        <table class="display" id="example">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(paginationDM, 'Cedula', 'dm.cedula') }}</th>
                    <th>{{ knp_pagination_sortable(paginationDM, 'Nombre', 'dm.nombre') }}</th>
                    <th>{{ knp_pagination_sortable(paginationDM, 'Curso', 'dm.curso') }}</th>
                    <th>{{ knp_pagination_sortable(paginationDM, 'Materia', 'dm.materia') }}</th>
                    <th>Accion</th>                    
                </tr>
            </thead>
        {% for dm in paginationDM %}
            <tbody>
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{dm.docente.cedula}}</td>
                    <td>{{dm.docente.nombre}}&nbsp;{{dm.docente.apellido}}</td>
                    <td>{{dm.nivel}}</td>
                    <td>{{dm.materiaperiodo.materia.nombre}}</td>
                    <td><a href="{{ path('amaterias_modificar_materias_asignadas',{'codm': dm.id}) }}">&nbsp;&nbsp<img title="Modificar materia asignada"  src="{{ asset('uploads/iconos/edit.gif') }}"></a>&nbsp;&nbsp;&nbsp;<a  onclick="cargaVentana({{ dm.id }});"><img title="Eliminar materia asignada"  src="{{ asset('uploads/iconos/delete.gif') }}"></a></td>
                </tr>
            </tbody>
            {% endfor%}
        </table>
            <div class="paginacion">
              {{ knp_pagination_render(paginationDM) }}
            </div>
        </div>
    </div>
<br>
{% endblock%}

{% block aside %}
    {%set rol='amaterias'%}
        <p align="center"><a class="boton" href="{{path('portada',{'role': rol})}}">INICIO</a></p>
    {{ parent()}}
        <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{% endblock%}

{% block javascripts %}
        {{parent()}}
        <script type="text/javascript">
    
        function cargaVentana(id)
        {
            if (confirm("Esta seguro que desea elminar este registro.?")) {
                window.location= "{{path('amaterias_eliminar_materias_asignadas')}}" + "?codm="+id
            }
        }
    </script>
    
{% endblock%}        
{% block stylesheets %}
    {{ parent() }}
    {% include 'academicoBundle:Default:tablecss.html.twig'%}
{% endblock %}    