<span class="preload1"></span>
<span class="preload2"></span>
{% set rol='docente'%}
<ul id="nave">
    <li class="top"><a href="{{path('docente_variable_sesion',{'niv': nivel.id, 'mat': materia.id })}}" class="top_link"><span>INICIO</span></a></li>
    <li class="top"><a id="products" class="top_link"><span class="down">Calificaciones</span></a>        
        <ul class="sub">
            <li>
                <a  class="fly">Parciales</a>
                <ul>
                    {% for m in listames %}
                        <li><a  href="{{path('docente_notas_x_materia',{'mesid': m.id})}}">{{m.mes}}</a></li>                        
                    {% endfor%}
                    
                </ul>
            </li>                
            <li><a href="{{path('docente_lista_materias_suspenso')}}" class="fly">Suspensos</a></li>
            <li><a href="" class="fly">Actas</a>
                <ul>
                    <li><a href="{{path('docente_acta_general_calificaciones_estudiantes')}}">Actas Generales</a></li>
                </ul>                                  
            </li>
        </ul>
    </li>
    <li class="top"><a href="#nogo22" id="services" class="top_link"><span class="down">Consultas</span></a>
        <ul class="sub">
            <li><a href="">Notas parciales</a>
                <ul>
                    {% for me in mesevac%}
                        <li><a href="{{path('docente_notas_parciales_x_mes',{'codmes': me.id})}}">{{me.mes}}</a></li>                    
                    {% endfor%}
                </ul>
            </li>
            <li><a href="{{path('docente_ver_horario')}}"><strong>Mi horario</strong></a>                
            </li>
        </ul>
    </li>
    <li class="top"><a href="#nogo27" id="contacts" class="top_link"><span class="down">Reportes</span></a>
        <ul class="sub">
            <li><a href="#nogo28">Reporte 1</a></li>
            <li><a href="#nogo29" class="fly">Lista Estudiantes</a>
                
            </li>            
        </ul>
    </li>


</ul>







