<span class="preload1"></span>
<span class="preload2"></span>
{% set rol='docente'%}
<ul id="nave">
    <li class="top"><a href="{{path('portada',{'role': rol })}}" class="top_link"><span>INICIO</span></a></li>
    <li class="top"><a id="products" class="top_link"><span class="down">Calificaciones</span></a>        
        <ul class="sub">
            <li>
                <a  class="fly">Parciales</a>
                <ul>
                    {% set  fechaactual=  'now' | date('Y-m-d')  %}
                    {% for m in listames %}
                        {% if fechaactual >= m.finiciomes | date ('Y-m-d') and fechaactual <= m.ffinmes | date ('Y-m-d') %}
                        <li><a  href="{{path('docente_notas_x_materia',{'mesid': m.id, 'niv': nivel.id, 'mat': materia.id})}}">{{m.nota}}</a></li>                        
                        {% endif%}
                    {% endfor%}
                    
                </ul>
            </li>                
            <li><a href="{{path('docente_lista_materias_suspenso',{'niv': nivel.id, 'mat': materia.id})}}" class="fly">Suspensos</a></li>
            <li><a href="" class="fly">Actas</a>
                <ul>
                        <li><a href="{{path('docente_acta_general_calificaciones_estudiantes',{'niv': nivel2.id, 'mat': materia2.id})}}">Actas Generales</a></li>
                </ul>                                  
            </li>
        </ul>
    </li>
    <li class="top"><a  id="services" class="top_link"><span class="down">Consultas</span></a>
        <ul class="sub">
            <li><a class="fly">Notas parciales</a>
                <ul>
                    {% for me in mesevac %}
                        <li><a href="{{path('docente_notas_parciales_x_mes',{'codmes': me.id,'niv': nivel2.id, 'mat':materia2.id})}}">{{me.nota}}</a></li>                    
                    {% endfor%}
                </ul>
            </li>
            <li><a href="{{path('docente_ver_horario')}}"><strong>Mi horario</strong></a>                
            </li>
        </ul>
    </li>
    

</ul>







