<span class="preload1"></span>
<span class="preload2"></span>
{% set rol='secretaria'%}
<ul id="nave">
    <li class="top"><a href="{{path('portada',{'role': rol })}}" class="top_link"><span>INICIO</span></a></li>
    <li class="top"><a  id="products" class="top_link"><span class="down">Inscripciones</span></a>
        <ul class="sub">
            <li>
                <a href="{{path('estudiante_busqueda')}}" class="fly">Nueva</a>
            </li>                                       
        </ul>
    </li>
    <li class="top"><a id="services" class="top_link"><span class="down">Matrículas</span></a>
        <ul class="sub">
            <li><a href="{{path('estudiante_buscar')}}">Nueva</a></li>
            
        </ul>
    </li>
    <li class="top"><a  id="contacts" class="top_link"><span class="down">Consultas</span></a>
        <ul class="sub">
            <li><a href="{{path('secretaria_requisito_listar_todos')}}"> Lista requisitos</a></li>
            <li><a class="fly">Lista Estudiantes</a>
                <ul>
                    <li><a href="{{path('estudiante_lista_inscritos')}}">Inscritos</a></li>
                    <li><a href="{{path('estudiante_lista_matriculados_x_secciones',{'nivel': 1})}}">Matriculados</a></li>                    
                </ul>
            </li>            
        </ul>
    </li>
    <li class="top"><a  id="shop" class="top_link"><span class="down">EXA. DE GRADO</span></a>
        
        <ul class="sub">
            <li><a  id="shop" class="fly">Ingresar</a>
                <ul>

                           {% for mat in niveles %}
                    <li><a href="{{path('secretaria_lista_materiasgrado_x_nivel',{'codniv': mat.id})}}">{{mat.curso.nombre | title}}&nbsp;&nbsp;{{mat.paralelo.nombre | title}}</a></li>              
                          {% endfor%} 
                </ul>
            </li>
        </ul>
    </li>

</ul>


<script type="text/javascript">

    /* Credits: Stu Nicholls */
/* URL: http://www.stunicholls.com/menu/pro_drop_1/stuHover.js */

stuHover = function() {
        var cssRule;
        var newSelector;
        for (var i = 0; i < document.styleSheets.length; i++)
                for (var x = 0; x < document.styleSheets[i].rules.length ; x++)
                        {
                        cssRule = document.styleSheets[i].rules[x];
                        if (cssRule.selectorText.indexOf("LI:hover") >= 0)
                        {
                                 newSelector = cssRule.selectorText.replace(/LI:hover/gi, "LI.iehover");
                                document.styleSheets[i].addRule(newSelector , cssRule.style.cssText);
                        }
                }
        var getElm = document.getElementById("nave").getElementsByTagName("LI");
        for (var i=0; i<getElm.length; i++) {
                getElm[i].onmouseover=function() {
                        this.className+=" iehover";
                }
                getElm[i].onmouseout=function() {
                        this.className=this.className.replace(new RegExp(" iehover\\b"), "");
                }
        }
}
if (window.attachEvent) window.attachEvent("onload", stuHover);

    </script>





