{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_docente.html.twig'%}
</section>    
<div style="text-align: center ; color: #0035C7"><strong>CONSULTA DE NOTAS PARCIALES</strong></div>
{% if cod==1%}
<div style="text-align: right"><a  target="_blank" href="{{path('docente_reporte_notas_parciales_x_mes',{'mesid': mes.id, 'nid': nivel.id, 'mid':materia.id})}}" title="Imprimir reporte" ><img  src="{{asset('uploads/iconos/pdf.gif')}}" alt="imprimir" width="30" height="30" ></a></div>
<div id="dt_example">
    <div id="demo">
    
            <table class="display" id="example">
                <thead>
                    <tr>
                        <th colspan="8">NOTAS DEL: {{mes | upper}}</th>
                    </tr>
                    <tr>
                        {#<th>Cédula</th><th>Nombre</th><th>Apellido</th><th>Correo electrónico</th><th>Estado</th><th>Acción</th>#}

                            <th>{{ knp_pagination_sortable(listaeva, 'Cédula', 'e.cedula') }}</th>
                            <th>{{ knp_pagination_sortable(listaeva, 'Nombre', 'e.nombre') }}</th>                            
                            <th>{{ knp_pagination_sortable(listaeva, 'Trabajo grupo', 'ev.notatb') }}</th>                            
                            <th>{{ knp_pagination_sortable(listaeva, 'Estudio casos', 'ev.notaec') }}</th>
                            <th>{{ knp_pagination_sortable(listaeva, 'Prueba práctica', 'ev.notapp') }}</th>
                            <th>{{ knp_pagination_sortable(listaeva, 'Prueba teórica', 'ev.notapt') }}</th>
                            <th>SUMA</th>
                            <th>PROM.</th>

                        </tr>

                    </thead>
                    <tbody>
                    {% for est in listaeva %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td style="text-align: center; width: 30px; vertical-align: middle">{{est.materiaasignada.matricula.estudiante.cedula}}</td>
                                <td style="vertical-align: middle">{{est.materiaasignada.matricula.estudiante.apellido | title }}&nbsp; {{est.materiaasignada.matricula.estudiante.nombre | title}}</td>
                                <td style="text-align: center; width: 30px; vertical-align: middle">{{'%.2f'|format(est.notatb)}}</td>
                                <td style="text-align: center; width: 30px; vertical-align: middle">{{'%.2f'|format(est.notaec)}}</td>
                                <td style="text-align: center; width: 30px; vertical-align: middle">{{'%.2f'|format(est.notapp)}}</td>
                                <td style="text-align: center; width: 30px; vertical-align: middle">{{'%.2f'|format(est.notapt)}}</td>                                
                                <td style="text-align: center; width: 30px; vertical-align: middle">{{'%.2f'|format(est.notatb + est.notaec + est.notapp + est.notapt)}}</td>                                
                                <td style="text-align: center; width: 30px; vertical-align: middle">{{'%.2f'|format(((est.notatb + est.notaec + est.notapp + est.notapt)/ 4) | round(2,'floor'))}}</td>                                
                         <tr>
                        </tbody>
                    {% endfor%}
                    </table>

                    <div class="paginacion">
                        {{ knp_pagination_render(listaeva) }}
                     </div>
               </div>
    </div>
 {%else%}
        <h1>No hay estudiantes</h1>
    {% endif%}
<br><br>
{% endblock%}
{% block aside%}
    {{parent()}}
    <p align="center">Materia actual</p>
    <p style="text-align: center ; color: #090 "><strong><label style="color: #0035C7">{{nivel2.curso.nombre | upper}}</label>: &nbsp;&nbsp;{{nivel2.paralelo.nombre | upper }}&nbsp;:&nbsp;{{materia2.nombre}}</strong></p>
   <strong><p align="left">Curso / Materia</p></strong>
    <div id="relacionadas">
        <ul>
    {% for matdoc in materiasdoc %}
                <li><a title="{{matdoc.materiaperiodo.materia.nombre | upper }}" class="boton" href="{{path('docente_notas_parciales_x_mes',{'codmes': codmes, 'niv': matdoc.nivel.id, 'mat': matdoc.materiaperiodo.materia.id})}}">{{matdoc.nivel.descripcion | upper }}&nbsp;&nbsp;{{matdoc.materiaperiodo.materia.nombre | title | truncate(10,true)}}</a></li>
    {% endfor%}

            </ul>
        </div>

    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
