{% extends '::frontend.html.twig'%}

{% block title %} NOTAS {% endblock%}

{% block id 'portada' %}
{% block article%}
    
    <strong><p align="center">{{niv}} &nbsp;&nbsp;{{mat.nombre}}</p></strong>    
    {% if cod==1%}
    <form action="{{ path('docente_listaest_x_materia',{'materia': mat.id, 'nivel': niv.id, 'mesid': codmes.id}) }}" method="post" {{
        form_enctype(form) }} >
        {{ form_start(form) }}
            
        <h3>Evaluaciones</h3>
            {# iterate over each existing tag and render its only field: name #}
    
        <div id="dt_example">
            <div id="demo">
                <table class="display" id="example">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(evaest, 'Estudiante', 'a.estudiante') }}</th>            
                            <th>{{ knp_pagination_sortable(evaest, 'Trabajo en grupo','a.notatg') }}</th>
                            <th>{{ knp_pagination_sortable(evaest, 'Estudio de casos','a.notaec') }}</th>
                            <th>{{ knp_pagination_sortable(evaest, 'Prueba práctica','a.notapp') }}</th>
                            <th>{{ knp_pagination_sortable(evaest, 'Prueba teórica','a.notapt') }}</th>
                            <th>{{ knp_pagination_sortable(evaest, 'Promedio','a.promedio') }}</th>
                        </tr>
                        </thead>        
                    {% for req in form.evaest %}
                    <tbody>
                        <tr {% if loop.index is odd %} class="color" {% endif %}>
                            <td>{{ form_widget(req.materiaasignada)}}</td>             
                            <td>{{ form_widget(req.notatb) }}</td> 
                            <td>{{ form_widget(req.notaec) }}</td> 
                            <td>{{ form_widget(req.notapp) }}</td> 
                            <td>{{ form_widget(req.notapt) }}</td>
                            <td>{{ form_widget(req.promedio)}}</td>
                        <tr>
                    <tbody>
                    {% endfor %}
                </table>
                <div class="paginacion">
                    {{ knp_pagination_render(evaest) }}
                </div>                
            </div>
        </div>  
        <input type="submit" value="guardar" class="boton" >
        {{ form_end(form) }}
    </form>
    {%else%}
        <h1>No hay estudiantes</h1>
    {% endif%}
    
 
{% endblock%}

{% block aside%}
    {%set rol='docente'%}
        <p align="center"><a class="boton" href="{{path('portada',{'role': rol})}}">INICIO</a></p>
    {{parent()}}
    {#BARRA LATERAL: LISTA DE CURSOS Y MATERIAS#}
    <strong><p align="left">Curso / Materia</p></strong>
    <div id="relacionadas">
        <ul>
            {% for matdoc in materiasdoc %}
                <li><a class="boton" href="{{path('docente_listaest_x_materia',{'materia': matdoc.materia.id, 'nivel': matdoc.nivel.id, 'mesid': codmes.id})}}">{{matdoc.nivel | title}}&nbsp;&nbsp;{{matdoc.materia.nombre | title}}</a></li>
            {% endfor%}
        </ul>
    </div>

{% endblock%}

{% block javascripts %}
    {{ parent() }}
{% endblock%}
{% block stylesheets %}
      {{ parent()}}                 
{% endblock %}

