{% extends '::frontend.html.twig'%}

{% block title %} NOTAS SUPLETORIOS{% endblock%}

{% block id 'portada' %}
{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_docente.html.twig'%}
</section>    
{% set  pactivofin=  'now' | date('Ymd') <= periodo.ffinperiodo | date('Ymd')      %}
{% set  pactivoinicio=  'now' | date('Ymd') >= periodo.finicioperiodo | date('Ymd')      %}
<div style="text-align: center" >
    <strong style="color: #0063DC">INGRESO NOTAS DE SUPLETORIOS</strong>
</div>
{% if pactivoinicio and pactivofin %}
    {% if cod==1%}
    <p style="text-align: right"><a  target="_blank" href="{{path('docente_reporte_notas_supletorios',{'nid': nivel.id, 'mid':materia.id})}}" title="Imprimir reporte" ><img  src="{{asset('uploads/iconos/pdf.gif')}}" alt="imprimir" width="30" height="30" ></a></p>
    <form action="{{ path('docente_lista_materias_suspenso',{'niv': nivel.id, 'mat': materia.id}) }}" method="post" {{
        form_enctype(form) }} >
        {{ form_start(form) }}
            
        <div id="dt_example">
                <table class="display" id="example">
                    <thead>
                        <tr>
                            <th colspan="4">NOTAS DE SUSPLETORIOS</th>                     
                            
                        </tr>
                        <tr>
                            <th>Cédula / Estudiante</th>                     
                            <th>Suspenso</th>
                            <th>Promedio final</th>
                            <th>Equivalencia</th>
                        </tr>
                        </thead>        
                     <tbody>
                    {% for req in form.evaest %}
                    
                        <tr {% if loop.index is odd %} class="color" {% endif %}>
                            <td style="text-align: left; vertical-align: middle">{{ form_widget(req.matricula, { 'attr': {'disabled' : true } }) }}</td>             
                            <td style="text-align: center; width: 80px; vertical-align: middle">{{ form_widget(req.notasuspenso, { 'attr': {'autocomplete' : 'off', 'onkeypress' : 'return NumCheck(event, this)'} })}}</td>
                            <td style="text-align: center; width: 110px; vertical-align: middle">{{ form_widget(req.promediofinal) }}</td> 
                            <td style="text-align: center; width: 80px; vertical-align: middle">{{ form_widget(req.equivalencia) }}</td>
                            
                        <tr>
                    <tbody>
                    {% endfor %}
                </table>
                <div class="paginacion">
                    {{ knp_pagination_render(evaest) }}
                </div>                
            </div> 
        <input type="submit" value="guardar" class="boton" >
        {{ form_end(form) }}
    </form>
    {% else %}
            <h1>No hay estudiantes</h1>
    {% endif%}
{% else %}    
    <ul>
     {% if not pactivoinicio %}
            <li style="text-align: left; color: brown">El plazo para ingresar la la nota de suspenso aún no inicia</li>
            <li style="text-align: left; color: #08C">Inicia el: {{periodo.finicioperiodo | date('d-m-Y')}}</li>
        {% endif%}
        {% if not pactivofin %}
            <li style="text-align: left; color: brown">El plazo para ingresar la nota de suspenso ha vencido</li>
            <li style="text-align: left; color: #08C">Venció el: {{periodo.ffinperiodo | date('d-m-Y')}}</li>
        {% endif%}
            <li style="text-align: left; color: #08C">Para mayor información por favor contáctese con el administrador del sistema</li>
      </ul>
{% endif%}
 
{% endblock%}

{% block aside%}
    {{parent()}}
    <p align="center">Materia actual</p>
    <strong style="color: #090"><label style="color: #0063DC">{{nivel}}</label>:&nbsp;{{materia}}</strong>
    <p></p>
    <strong>
        <p align="left">Curso / Materia</p>
    </strong>
    <div id="relacionadas">
        <ul>
    {% for matdoc in materiasdoc %}
                <li><a title="{{matdoc.materiaperiodo.materia.nombre | upper }}" class="boton" href="{{path('docente_lista_materias_suspenso',{'niv': matdoc.nivel.id, 'mat': matdoc.materiaperiodo.materia.id})}}">{{matdoc.nivel.descripcion | upper }}&nbsp;&nbsp;{{matdoc.materiaperiodo.materia.nombre | title | truncate(10,true)}}</a></li>
    {% endfor%}

            </ul>
        </div>

    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}

{% block javascripts %}
    {{ parent() }}
    <script>   
    function NumCheck(e, field) {
    key = e.keyCode ? e.keyCode : e.which
    // backspace
    if (key == 8) return true
    // 0-9
    if (key > 47 && key < 58) {
      if (field.value == "") return true
      regexp = /.[0-9]{2}$/
      return !(regexp.test(field.value))
    }
    // .
    if (key == 46) {
      if (field.value == "") return false
      regexp = /^[0-9]+$/
      return regexp.test(field.value)
    }
    // other key
    return false
  }
    </script>
{% endblock%}
{% block stylesheets %}
      {{ parent()}}                 
        {% include 'academicoBundle:Default:tablecss.html.twig'%}
{% endblock %}

