{% extends '::frontend.html.twig'%}

{% block title %} NOTAS {% endblock%}

{% block id 'portada' %}
{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_docente.html.twig'%}
</section>    
<p style="text-align: center ; color: #0035C7; -webkit-animation-play-state: "><strong>INGRESO DE EVALUACIONES PARCIALES DE: &nbsp;&nbsp; {{codmes | upper}}</strong></p>
    {% if cod==1%}
    <p><strong>Detalles:</strong></p>
    <ul>
        <li style="color: #08C">Se presenta los estudiantes ordenados por secciones, número de cédula y su nombre</li>
        <li style="color: #08C">Para ingresar una nota atrasada, consulte con el administrador del sistema</li>
            </ul>
    <form action="{{ path('docente_notas_x_materia',{'mesid': codmes.id}) }}" method="post" {{
        form_enctype(form) }} >
        {{ form_start(form) }}
              <div id="dt_example">
              <table id="itsthetable" >
                    <thead>
                        <tr>
                            <th>Sección / Cédula / Estudiante</th>            
                            <th>Trabajo en grupo</th>
                            <th>Estudio de casos</th>
                            <th>Prueba práctica</th>
                            <th>Prueba teórica</th>
                            <th>Promedio</th>
                        </tr>
                        </thead>        
                     <tbody>
                    {% for req in form.evaest %}
                    
                        <tr >
                            <td style="text-align: left; vertical-align: middle">{{ form_widget(req.materiaasignada, { 'attr': {'disabled' : true } }) }}</td>             
                            <td style="text-align: center; vertical-align: middle" >{{ form_widget(req.notatb) }}</td> 
                            <td style="text-align: center; vertical-align: middle">{{ form_widget(req.notaec) }}</td> 
                            <td style="text-align: center; vertical-align: middle">{{ form_widget(req.notapp) }}</td> 
                            <td style="text-align: center; vertical-align: middle">{{ form_widget(req.notapt) }}</td>
                            <td style="text-align: center; vertical-align: middle">{{ form_widget(req.promedio)}}</td>
                        <tr>
                    <tbody>
                    {% endfor %}
                </table>
                <div class="paginacion">
                    {{ knp_pagination_render(evaest) }}
                </div>                
                  </div>
        
        <input type="submit" value="guardar" class="boton" >
        {{ form_end(form) }}
    </form>
    {%else%}
        <h1>No hay estudiantes</h1>
    {% endif%}
    
 
{% endblock%}

{% block aside%}
    {{parent()}}
    <p align="center">Materia actual</p>
    <strong style="color: #090">{{nivel}}&nbsp;{{materia}}</strong>
    <p></p>
    <strong>
        <p align="left">Curso / Materia</p>
    </strong>
    <div id="relacionadas">
        <ul>
    {% for matdoc in materiasdoc %}
                <li><a class="boton" href="{{path('docente_variable_sesion',{'niv': matdoc.nivel.id, 'mat': matdoc.materiaperiodo.materia.id})}}">{{matdoc.nivel | title}}&nbsp;&nbsp;{{matdoc.materiaperiodo.materia.nombre | title}}</a></li>
    {% endfor%}

            </ul>
        </div>

    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
    
{% block javascripts %}
    {{ parent() }}
{% endblock%}
{% block stylesheets %}
{{ parent() }}
    {% include 'academicoBundle:Default:tablecss.html.twig'%}
 {% endblock %}

