{% set  iactiva=  'now' | date('Ymd') <= periodo.ffininscripcion | date('Ymd') %}
{% extends '::frontend.html.twig' %}

{% block id 'estudiante' %}

{% block title %}Inscripcion del estudiante{% endblock%}

{% block article %}
<strong>PERIODO ACADÉMICO:</strong> {{periodo.nombre}}<br><br>
<h1>{{ block ('title')}}</h1>

<strong>DATOS DEL ESTUDIANTE</strong><br><br>
<strong>Cédula:</strong>{{estudiante.cedula}}<br>
<strong>Nombres:</strong>{{estudiante.nombre}}<br>
<strong>Apellidos:</strong>{{estudiante.apellido}}<br><br>
{% if  iactiva %}
<form action="{{ path('estudiante_registro_p', {'cedula': estudiante.cedula})}}" method="post" {{
        form_enctype(formulario) }} >
          
          {{form_row(formulario.Inscribir)}}
          {{form_rest(formulario)}}
</form>
{% endif%}

{% if not iactiva %}
<h1>EL PERIODO DE INSCRIPCIONES HA VENCIDO</h1>
<h1>Para mayor información comuicarse con el administrador del sistema</h1>
<a href="{{path('_portada')}}">regresar</a>
{% endif%}

{% endblock%}

{% block aside %}
      mensaje
{% endblock%}
