{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
{% if control ==1 %}
<section id="menu_secre">
        {% include 'academicoBundle:Default:menu_secretaria.html.twig'%}
    </section>
{% elseif control==3  %}

    <section id="menu_secre">
        {% include 'academicoBundle:Default:menu_secretaria.html.twig'%}
        </section>
    {% else %}
        <section id="menu_secre">
        {% include 'academicoBundle:Default:menu_secretaria.html.twig'%}
            </section>


            <p style="text-align: center ; color: #0035C7; -webkit-animation-play-state: "><strong>BIENVENID@ AL PERFIL DE SECRETARÍA</strong></p>
{%endif%}
{% endblock%}

{% block aside %}    
    {{ parent()}}
    {% if control ==1 %}
            <div >  <p style="text-align: center ; color: #D14; "><strong>ADVERTENCIA</strong></p>
            <p style="text-align: left"><strong>EXISTEN DOS SUBPERIODOS ACTIVOS</strong> </p>
            <hr>    
            <ul>
                <li><strong style="color: #090">El subperiodo correspondiente al Cuatrimestre  debe ser desactivado</strong> </li>
                <li><strong style="color: #090">Para proceder a matricular a los estudiantes al nuevo subperiodo</strong></li>
            </ul>    </div>
            <hr>

{% elseif control==3  %}

            <div align='middle' style="background-color: #CC3300"><p style="text-align: center ; color: white"><strong>MATRICULACIÓN DEL SEGUNDO SUBPERIODO: BIMESTRE</strong></p>
                <a class="boton" href="{{path('secretaria_matricula_nuevo_subperiodo')}}">MATRICULAR</a></div><br><hr>
        {%endif%}


            <p style="text-align: center"><strong>ESTADISTICAS</strong> </p>
            <hr>
            <label ><strong style="color: #08C">INSCRITOS:</strong> &nbsp;{{estIT | length}}</label>
            <ul>
                <li><strong style="color: #090">Activos:</strong> &nbsp;{{estIA | length}} </li>
                <li><strong style="color: #090">Inactivos:</strong>&nbsp;{{estII | length}} </li>
            </ul>
            <hr>
            <label ><strong style="color: #08C">MATRICULADOS:</strong> &nbsp;{{estMT | length}}</label>
            <ul>
                <li><strong style="color: #090">Activos:</strong>&nbsp;{{estMA | length}} </li>
                <li><strong style="color: #090">Inactivos:</strong>&nbsp;{{estMI | length}} </li>
            </ul>
            <hr>
            <label ><strong style="color: #08C">CURSOS:</strong></label>
            <ul>
    {%  for est in estudiantes%}
                    <li ><strong style="color: #090">{{est.nivel}}&nbsp;{{est.paralelo}}:</strong> &nbsp;{{est.num}}</li>
    {% endfor%}    
                </ul>
                <hr>
                <br>
                <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}
{% block stylesheets %}
      {{ parent()}}                 
        {% include 'academicoBundle:Default:tablecss.html.twig'%}
{% endblock %}          