{% extends '::frontend.html.twig'%}

{% block title %} Perfil de docente {% endblock%}
{% block id 'portada' %}

{% block article%}
<section id="menu_secre">
    {% include 'academicoBundle:Default:menu_docente.html.twig'%}
</section>
<p style="text-align: center ; color: #0035C7; -webkit-animation-play-state: "><strong>BIENVENID@ AL PERFIL DE DOCENTE</strong></p>

{% endblock%}
{% block aside%}
    {{parent()}}
    <p align="center">Materia actual</p>
   <p style="text-align: center ; color: #090 "><strong>{{nivel.curso.nombre | upper}}&nbsp;&nbsp;{{nivel.paralelo.nombre | upper }}&nbsp;:&nbsp;{{materia.nombre}}</strong></p>
   <strong><p align="left">Curso / Materia</p></strong>
    <div id="relacionadas">
        <ul>
    {% for matdoc in materiasdoc %}
                <li><a title="{{matdoc.materiaperiodo.materia.nombre | upper }}" class="boton" href="{{path('docente_variable_sesion',{'niv': matdoc.nivel.id, 'mat': matdoc.materiaperiodo.materia.id})}}">{{matdoc.nivel.descripcion | upper }}&nbsp;&nbsp;{{matdoc.materiaperiodo.materia.nombre | title | truncate(10,true)}}</a></li>
    {% endfor%}

            </ul>
        </div>

    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}