{% extends '::frontend.html.twig'%}

{% block title %} Perfil de docente {% endblock%}
{% block id 'portada' %}
{% block article%}
<h1>PERIODO ACADÉMICO ACTUAL {{periodo.nombre}}</h1><br><br>
<strong><legend>Docente</legend></strong>
<strong>
    <ul>
        <li><a href="{{path('docente_registro')}}">Registrar docente</a></li>        
        <li><a href="{{path('docente_dictadomateria')}}">Asignar materias</a></li>        
    </ul>
</strong>
<strong><legend>Materias del docente</legend></strong>
{% for matdoc in materiasdoc %}
    <li>{{matdoc.nivel | title}}&nbsp;&nbsp;<a href="{{path('docente_notas_x_materia',{'materia': matdoc.materia.id, 'nivel': matdoc.nivel.id})}}">{{matdoc.materia.nombre | title}}</a></li>
{% endfor%}


{% endblock%}

