{% extends '::frontend.html.twig'%}

{% block title %} Perfil de docente {% endblock%}
{% block id 'portada' %}
{% block article%}
<h1>PERIODO ACADÉMICO ACTUAL {{periodo.nombre}}</h1><br><br>
<strong><legend>Docente</legend></strong>
<strong>
    <ul>
        <li><a href="{{path('docente_registro')}}">Registrar docente</a></li>        
        <li><a href="{{path('docente_dictadomateria')}}">Asignar materias</a></li>        
    </ul>
</strong>
<strong><legend>Materias del docente</legend></strong>
{% for matdoc in materiasdoc %}
    <li>{{matdoc.nivel.curso.nombre}}&nbsp;{{matdoc.nivel.paralelo.nombre}}&nbsp;&nbsp;{{matdoc.materia.nombre}}</li>
{% endfor%}


{% endblock%}

