{% extends '::frontend.html.twig' %}


{% block id 'requisito' %}

{% block title %}Requisito del estudiante{% endblock%}

{% block article %}

<h1>{{ block ('title')}}</h1>
<strong>Cédula:</strong>{{estudiante.cedula}}<br>
<strong>Nombre:</strong>{{estudiante.nombre}}<br>
<strong>Apellido:</strong>{{estudiante.apellido}}<br>



<form action="{{ path('estudiante_requisito',{'cedula': estudiante.cedula}) }}" method="post" {{
        form_enctype(form) }} >
    {{ form_start(form) }}
        {# render the task's only field: description #}
    
    <br>
    <h3>Requisitos</h3>
    <ul>
        {# iterate over each existing tag and render its only field: name #}
        {% for req in form.reqest %}
            <li>{{ form_widget(req.estado) }}{{ form_widget(req.requisito, { 'attr': {'disabled' : 'true' } }) }}</li>
        {% endfor %}
    </ul>

    
    <input type="submit" value="guardar" class="boton" >
    {{ form_end(form) }}
    </form>



{% endblock%}

{% block aside %}
    {{ parent()}}
{% endblock%}