{% extends '::frontend.html.twig'%}

{% block title %} INICIO {% endblock%}
{% block id 'portada' %}
{% block article%}
<section id="menu_docente">
        {% include 'academicoBundle:Default:menu_docente.html.twig' with {'mesevac': mesevac, 'listamaterias': listamaterias}%}
</section>
        
{#LISTA DE MATERIAS: #}

<strong><p>Mi Horario</p></strong>
<div id="dt_example">
    <div id="demo">        
        <table class="display" id="example">
            <thead>   
                <tr>
                    <th colspan="8" ALIGN="CENTER">HORARIO DE CLASES</th>
                </tr>
                <tr>
                    <th colspan="8" ALIGN="LEFT">CÉDULA: {{docente.cedula}}{{'    '}} NOMBRE: {{docente.nombre}}{{' '}}{{docente.apellido}}</th>
                </tr>
                 <tr >
                    <th>{{ 'Hora' }}</th>                     
                    <th>{{ 'Lunes' }}</th> 
                    <th>{{ 'Martes' }}</th>
                    <th>{{ 'Miercoles' }}</th>
                    <th>{{ 'Jueves' }}</th>
                    <th>{{ 'Viernes' }}</th>
                    <th>{{ 'Sábado' }}</th>
                    <th>{{ 'Domingo' }}</th>
                 </tr>
            </thead>                                        
            <tbody>
                {% for ma in listahoras %}  
                <tr>                        
                    <td ALIGN="CENTER" style="vertical-align:middle">{{ma}}</td>        
                    {# LUNES#}                                         
                                <td ALIGN="CENTER" style="vertical-align:middle">                   
                                     {% for mat in horarioclase %}  {% if  (mat.dia | upper) == 'LUNES' %}{% if  (mat.hora) == ma %} <strong>{{mat.dictadomateria.materiaperiodo.materia.nombre}}</strong>{{' '}}{{mat.dictadomateria.nivel.curso}}{{' '}}{{mat.dictadomateria.nivel.paralelo}}
                                {% endif %}  
                                {% endif %}{% endfor%}                                      
                                </td> 
                    {#MARTES#}                                         
                    <td ALIGN="CENTER" style="vertical-align:middle">                   
                                     {% for mat in horarioclase %}  {% if  (mat.dia | upper) == 'MARTES' %}{% if  (mat.hora) == ma %} <strong>{{mat.dictadomateria.materiaperiodo.materia.nombre}}</strong>{{' '}}{{mat.dictadomateria.nivel.curso}}{{' '}}{{mat.dictadomateria.nivel.paralelo}}
                                {% endif %}  
                                {% endif %}{% endfor%}                                      
                                </td> 
                    {#MIERCOLES#}                                         
                                <td ALIGN="CENTER" style="vertical-align:middle">                   
                                     {% for mat in horarioclase %}  {% if  (mat.dia | upper) == 'MIERCOLES' %}{% if  (mat.hora) == ma %} <strong>{{mat.dictadomateria.materiaperiodo.materia.nombre}}</strong>{{' '}}{{mat.dictadomateria.nivel.curso}}{{' '}}{{mat.dictadomateria.nivel.paralelo}}
                                {% endif %}  
                                {% endif %}{% endfor%}                                      
                                </td>  
                    {#JUEVES#}                                         
                                <td ALIGN="CENTER" style="vertical-align:middle">                   
                                     {% for mat in horarioclase %}  {% if  (mat.dia | upper) == 'JUEVES' %}{% if  (mat.hora) == ma %} <strong>{{mat.dictadomateria.materiaperiodo.materia.nombre}}</strong>{{' '}}{{mat.dictadomateria.nivel.curso}}{{' '}}{{mat.dictadomateria.nivel.paralelo}}
                                {% endif %}  
                                {% endif %}{% endfor%}                                      
                                </td> 
                    {#VIERNES#}                                         
                                <td ALIGN="CENTER" style="vertical-align:middle">                   
                                     {% for mat in horarioclase %}  {% if  (mat.dia | upper) == 'VIERNES' %}{% if  (mat.hora) == ma %} <strong>{{mat.dictadomateria.materiaperiodo.materia.nombre}}</strong>{{' '}}{{mat.dictadomateria.nivel.curso}}{{' '}}{{mat.dictadomateria.nivel.paralelo}}
                                {% endif %}  
                                {% endif %}{% endfor%}                                      
                                </td> 
                    {#SABADO#}                                         
                                <td ALIGN="CENTER" style="vertical-align:middle">                   
                                     {% for mat in horarioclase %}  {% if  (mat.dia | upper) == 'SABADO' %}{% if  (mat.hora) == ma %} <strong>{{mat.dictadomateria.materiaperiodo.materia.nombre}}</strong>{{' '}}{{mat.dictadomateria.nivel.curso}}{{' '}}{{mat.dictadomateria.nivel.paralelo}}
                                {% endif %}  
                                {% endif %}{% endfor%}                                      
                                </td>                               
                    {#DOMINGO#}                                         
                                <td ALIGN="CENTER" style="vertical-align:middle">                   
                                     {% for mat in horarioclase %}  {% if  (mat.dia | upper) == 'DOMINGO' %}{% if  (mat.hora) == ma %} <strong>{{mat.dictadomateria.materiaperiodo.materia.nombre}}</strong>{{' '}}{{mat.dictadomateria.nivel.curso}}{{' '}}{{mat.dictadomateria.nivel.paralelo}}
                                {% endif %}  
                                {% endif %}{% endfor%}                                      
                                </td>                     
                    
                </tr>    
                {% endfor%}
            </tbody>                                                       
        </table>
    
    </div>
</div>
<br>

{% endblock%}
{% block aside %}
{{parent()}}
    <a title="Cierra la sesión actual" href="{{ path('usuario_logout') }}"><strong>Cerrar sesión</strong></a>
{% endblock%}

          
{% block javascripts %}
    {{ parent() }}

{% endblock%}


{% block stylesheets %}
{{ parent() }}
         {% include 'academicoBundle:Default:tablecss.html.twig'%}

<style>
   
  input[type="number"] {
   width:50px;
}
</style>



   {% endblock %}
     

    
